<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon slot="start" name="woman"></ion-icon>
    </ion-buttons>
    <ion-title>Violencia basada en genero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <!-- <h1 class="principal-title">
      Violencia basada en genero
    </h1> -->
    <ion-card>
      <img src="assets/img/1.png" />
      <p class="card-content-md">
        Son un tipo de violencia física o psicológica, ejercida contra cualquier
        persona, sobre la base de su sexo o género, que impacta de manera
        negativa su identidad y bienestar social, físico y psicológico. De
        acuerdo con las Naciones Unidas, el término es utilizado «para
        distinguir la violencia común de aquella que se dirige a individuos o
        grupos sobre la base de su género». PNUD.<i>
          Informe Nacional de Desarrollo Humano. Bogotá, Colombia. Publicado en
          septiembre de 2011.</i
        >
      </p>
      <ion-card-title
        >Violencias analizadas desde una perspectiva de género</ion-card-title
      >
      <ion-card-subtitle>Riesgos sociales asociados a ...</ion-card-subtitle>
      <ion-card-content>
        <ion-label><b>Cultura patriarcal:</b></ion-label>
        <p>
          El riesgo es que en el marco de la cultura patriarcal hay una
          subvaloración de lo femenino respecto a lo masculino, cuyo soporte es
          el machismo, el sexismo, la homofobia y otras expresiones de la
          discriminación, que ponen en riesgo a las mujeres y a las personas
          LGBTI específicamente
        </p>
        <br />
        <ion-label><b>Mujer:</b></ion-label>
        <p>Violencia sexual, cosificación de las mujeres, machismo.</p>
        <br />
        <ion-label><b>Violencia intrafamiliar:</b></ion-label>
        <p>
          La violencia intrafamiliar, sexual, física, económica, psicológica,
          prácticas alienado-res familiares, desestructuración de la familia y
          nuevas concepciones de familia.
        </p>
        <br />
        <ion-label><b>Familia en el marco del post acuerdo:</b></ion-label>
        <p>
          Desplazamiento, expropiación de tierras, reclutamiento de los miembros
          de la familia a grupos armados ilegales.
        </p>
        <br />
        <ion-label><b>Riesgos asociados al post acuerdo: </b></ion-label>
        <p>
          Desempleo, explotación infantil, instrumentalización de los niños y
          las niñas, explotación sexual, ausencia de mínimos vitales,
          incapacidad de resolver conflictos, aceptación de actos violentos como
          pauta de relacionamiento.
        </p>
        <br />
        <ion-label><b>Género:</b></ion-label>
        <p>
          Sexismo, homofobia, no tolerancia frente a la diversidad, violencias
          basadas en género.
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
