<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon slot="start" name="book"></ion-icon>
    </ion-buttons>
    <ion-title>Marco juridico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <!-- <h1 class="principal-title">
      Marco juridico
    </h1> -->
    <ion-card>
      <img src="assets/img/Marco_Juridico.jpeg" />

      <ion-card-content>
        <ion-label><b>Ley 1257 de 2008:</b></ion-label>
        <p>
          por la cual se dictan normas de sensibilización, prevención y sanción
          de formas de violencia y discriminación contra las mujeres, se
          reforman los Códigos Penal, de Procedimiento Penal de 1996 y se dictan
          otras disposiciones.
        </p>
        <br />
        <ion-label><b>Ley 1542 de 2012:</b></ion-label>
        <p>
          Se reforma el artículo 74 de la ley 906 de 2004, Código de
          Procedimiento Penal.
        </p>
        <br />
        <ion-label><b>Ley 1719 de 2014:</b></ion-label>
        <p>
          Se adoptan medidas para garantizar el acceso a la justicia de las
          víctimas de violencia sexual, en especial la violencia sexual con
          ocasión del conflicto armado, y se dictan otras disposiciones.
        </p>
        <br />
        <ion-label><b>Ley 1761 de 2015:</b></ion-label>
        <p>
          Tipificar el feminicidio como un delito autónomo para garantizar la
          investigación y sanción de las violencias contra las mujeres por
          motivos de género y discriminación, así como prevenir y erradicar
          dichas violencias y adoptar estrategias de sensibilización de la
          sociedad colombiana.
        </p>
        <br />
        <ion-label><b>Ley 1773 de 2016:</b></ion-label>
        <p>
          crea el artículo 116A, se modifican los artículos 68A, 104, 113,359, y
          374 de la ley 599 de 2000 y se modifica el artículo 351 de la ley 906
          de 2004. Lesiones con agentes químicos, ácido y/o sustancias
          similares.
        </p>
        <br />
        <ion-label><b>Decreto 4799 de 2011:</b></ion-label>
        <p>
          Por el cual se reglamentan parcialmente las Leyes 294 de 1996, 575 de
          2000 y 1257 de 2008
        </p>
        <br />
        <ion-label><b>Decreto Reglamentario 2734 de 2012:</b></ion-label>
        <p>
          Por el cual se establecen los criterios, condiciones y procedimiento
          para el otorgamiento de las medidas de atención definidas en el
          artículo 19 de la Ley 1257 de 2008, los cuales serán de obligatorio
          cumplimiento por parte de los diferentes actores del Sistema General
          de Seguridad Social en Salud SGSSS y las autoridades competentes para
          ordenarlas en el marco de las responsabilidades que les fueron
          asignadas mediante la Ley 1257 de 2008 y sus Decretos Reglamentarios
          números 4796 y 4799 de 2011 y las normas que los modifiquen, adicionen
          o sustituyan.
        </p>
        <br />
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
