<ion-header>
  <ion-toolbar color="success">
    <ion-title
      >RUTA 3: Cuando otras autoridades <br />remiten solicitudes a la Policía
      Nacional</ion-title
    >
    <ion-buttons slot="end">
      <ion-icon slot="start" name="close-circle" (click)="close()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/img/8.1.png" />
  <br />
  <br />
  <ion-card>
    <ion-card-content>
      <p>
        Esta Ruta corresponde a la remisión que realizan otras autoridades a la
        Policía Nacional para que se ejecuten medidas de protección para las
        víctimas de VBG, procedimiento que tiene sustento normativo en los
        artículos 16 y 17 Ley 1257 de 2008, y en el Decreto 4799 de 2011.
      </p>
      <br />
      <p>
        <b>MOMENTO 1:</b> Remisión oficial (orden escrita) por parte de
        autoridad competente a Policía Nacional para aplicar medida de
        protección.
      </p>
      <br />
      <p>
        Si no es clara la medida de protección proferida por la autoridad
        competente, tome contacto de manera oficial e inmediata con la autoridad
        para que especifique cuál de las medidas deben ser aplicadas por la
        Policía Nacional, (Dec. 4799/11).
      </p>
      <br />
      <p>
        <b>MOMENTO 2:</b> Remitir una comunicación oficial a la autoridad
        competente que decretó la(s) medida(s), indicando las actuaciones
        institucionales al respecto.
      </p>
      <br />
      <p>
        <b>MOMENTO 3:</b> Dar a conocer a la víctima las medidas de
        autoprotección e informar el número de teléfono del cuadrante, Estación
        de Policía y CAI, con el fin de mantener comunicación directa ante
        alguna situación especial.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-item class="medida-1" (click)="toggle(1)">
    <ion-icon
      slot="end"
      name="chevron-up-outline"
      *ngIf="selected == 1"
    ></ion-icon>
    <ion-icon
      slot="end"
      name="chevron-down-outline"
      *ngIf="!(selected == 1)"
    ></ion-icon>
    <ion-label>
      Medidas de protección
    </ion-label>
  </ion-item>
  <div class="content content-1" id="content-1">
    <ion-item lines="none">
      <p>
        Cuando se conoce de un caso de VBG en flagrancia con base en un reporte
        de la ciudadanía. Frente a este caso la Institución debe proceder de la
        siguiente manera:
      </p>
    </ion-item>
    <ion-item>
      <ul>
        <li>
          Ordenar al agresor el desalojo de la casa de habitación. (Dec.
          4799/11, Art 3, Num. 1.).
        </li>
        <br />
        <li>
          Ordenar al agresor abstenerse de penetrar en cualquier lugar donde se
          encuentre la víctima, cuando a juicio del funcionario dicha limitación
          resulte necesaria para prevenir que aquel perturbe, intimide, amenace
          o de cualquier otra forma interfiera con la víctima o con los menores,
          cuya custodia provisional le haya sido adjudicada. (Dec. 4799/11, Art.
          3, Num 2.).
        </li>
        <br />
        <li>
          Prohibir al agresor esconder o trasladar de la residencia a los niños,
          niñas y personas con discapacidad, en situación de indefensión
          miembros del grupo familiar. (Dec. 4799/11, Art. 3, Num 3.).
        </li>
        <br />
        <li>
          Decidir provisionalmente el régimen de visitas, guarda y custodia de
          los hijos e hijas si los hubiere. (Ley 1257 de 2008, Art. 17, literal
          h).
        </li>
        <br />
        <li>
          Obligación de acudir a un tratamiento reeducativo y terapéutico a
          costa del agresor. (Dec. 4799/11, Art. 3, Num. 4).
        </li>
        <br />
        <li>
          Ordenar al agresor el pago de los gastos de orientación y asesoría
          jurídica, médicos y psicológicos que requiera la víctima.
        </li>
        <br />
        <li>
          Protección temporal especial de la víctima por parte de las
          autoridades de policía, tanto en su domicilio como en su lugar de
          trabajo cuando el maltrato reviste gravedad.
        </li>
        <br />
        <li>
          Ordenar a la autoridad de policía, previa solicitud de la víctima, el
          acompañamiento para su reingreso al lugar de domicilio cuando ella se
          haya visto en la obligación de salir para proteger su seguridad. (Dec.
          4799/11. Art. 3, Num. 5).
        </li>
        <br />
        <li>
          Suspender al agresor la tenencia, porte y uso de armas, en caso de que
          éstas sean indispensables para el ejercicio de su profesión u oficio.
          (Decisión motivada). (Dec. 4799/11, Art. 3°, Num. 6).
        </li>
        <br />
        <li>
          Decidir provisionalmente quién tendrá a su cargo las pensiones
          alimentarias, sin perjuicio de la competencia en materia civil de
          otras autoridades quienes podrán ratificar esta medida o modificarla.
          (Ley 1257/08, Art. 17, Lit. J.).
        </li>
        <br />
        <li>
          Decidir provisionalmente el uso y disfrute de la vivienda familiar,
          sin perjuicio de la competencia en materia civil de otras autoridades,
          quienes podrán ratificar esta medida o modificarla. (Ley 1257 de 2008,
          Art. 17, lit. K).
        </li>
        <br />
        <li>
          Prohibir al agresor la realización de cualquier acto de enajenación o
          gravamen de bienes de su propiedad sujetos a registro, si tuviere
          sociedad conyugal o patrimonial vigente. Para este efecto, oficiará a
          las autoridades competentes. Esta medida será decretada por autoridad
          judicial. (Dec. 4799/11, Art 3 Num. 7).
        </li>
        <br />
        <li>
          Ordenar al agresor la devolución inmediata de los objetos de uso
          personal, documentos de identidad y cualquier otro documento u objeto
          de propiedad o custodia de la víctima. (Ley 1257/08, Art. 17, Lit.
          M.).
        </li>
        <br />
        <li>
          Cualquier otra medida necesaria para el cumplimiento de los objetivos
          de la presente ley.
        </li>
        <br />
      </ul>
    </ion-item>
  </div>

  <ion-item class="medida-2" (click)="toggle(2)">
    <ion-icon
      slot="end"
      name="chevron-up-outline"
      *ngIf="selected == 2"
    ></ion-icon>
    <ion-icon
      slot="end"
      name="chevron-down-outline"
      *ngIf="!(selected == 2)"
    ></ion-icon>
    <ion-label>
      Medidas de atención:
    </ion-label>
  </ion-item>
  <div class="content content-2" id="content-2">
    <ion-item lines="none">
      <p>
        <b>¿Qué son?</b>
      </p>
    </ion-item>
    <ion-item lines="none">
      <p>
        De acuerdo con lo establecido en el Decreto 2734 de 2012, se debe
        entender por medidas de atención: los servicios temporales de
        habitación, alimentación y transporte que necesitan las mujeres víctimas
        de violencia con afectación física y/o psicológica, sus hijos e hijas,
        cuando estos servicios sean inherentes al tratamiento recomendado por
        los profesionales de la salud. de acuerdo con el resumen de la historia
        clínica y cuando la Policía Nacional valore la situación especial de
        riesgo y recomiende que la víctima debe ser reubicada.
      </p>
    </ion-item>
    <ion-item>
      <p>
        <b>Primero:</b> Habitación, alimentación y transporte en casas de
        refugio o albergues temporales.
      </p>
    </ion-item>
    <ion-item>
      <p>
        <b>Segundo:</b> Habitación, alimentación y transporte en servicios
        hoteleros.
      </p>
    </ion-item>
    <ion-item>
      <p><b>Tercero:</b> Subsidio monetario.</p>
    </ion-item>
    <ion-item>
      <p>
        <b>Competencia institucional:</b> Remitir a la autoridad competente,
        dentro de las 48 horas siguientes a la solicitud, el informe de
        evaluación de riesgo para que ésta determine si otorga las medidas de
        atención.
      </p>
    </ion-item>
  </div>

  <ion-item class="medida-3" (click)="toggle(3)">
    <ion-icon
      slot="end"
      name="chevron-up-outline"
      *ngIf="selected == 3"
    ></ion-icon>
    <ion-icon
      slot="end"
      name="chevron-down-outline"
      *ngIf="!(selected == 3)"
    ></ion-icon>
    <ion-label>
      Medidas de sensibilización y prevención:
    </ion-label>
  </ion-item>
  <div class="content content-3" id="content-3">
    <ion-item lines="none">
      <ul>
        <li>
          Identificar la oferta institucional en cada uno de los territorios y
          definir la responsabilidad y competencia de cada una de las entidades
          para la atención de violencias basadas en género, incluyendo las
          competencias subsidiarias.
        </li>
        <br />
        <li>
          Identificar redes sociales existentes, incluyendo organizaciones
          comunitarias y espacios de encuentros locales para proporcionar apoyo
          a las victimas sobrevivientes.
        </li>
        <br />
        <li>
          Definir estrategias de coordinación y articulación para la atención de
          las violencias de género en el municipio o distrito.
        </li>
        <br />
        <li>
          Identificar los espacios en el nivel nacional, departamental y
          municipal donde tengan asiento los sectores responsables, por ejemplo,
          los Consejos de Política Social, para desarrollar las estrategias de
          coordinación y articulación desde cada sector.
        </li>
        <br />
      </ul>
    </ion-item>
  </div>
</ion-content>
