
<button (click)="subrayar('fox')">Highlight</button>

<div id="inputTextss">
  The fox went over the fence
</div>
<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon slot="start" name="help"></ion-icon>
      <ion-icon slot="end" name="search" (click)="search()"></ion-icon>
    </ion-buttons>
    <ion-title>Glosario</ion-title>
  </ion-toolbar>
  <div class="hide">
    <ion-toolbar color="success">
      <ion-searchbar
        id="input"
        placeholder="Buscar"
        (ionChange)="find($event)"
        animated
      ></ion-searchbar>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of glosario">
    <img [src]="item.image" />
    <ion-card-header>
      <div>
        <ion-card-title>{{ item.word }}</ion-card-title>
      </div>      
    </ion-card-header>
    <ion-card-content>
      <div>
        <p id="inputText">{{ item.definition }}</p>
      </div>      
      <br />
      <div *ngIf="item.detail">
        <img [src]="item.imgDet" />
        <table>
          <tr *ngFor="let dataDet of item.detailData">
            <td id="inputText">{{ dataDet.word }}</td>
            <td>
              <ul>
                <li *ngFor="let litem of dataDet.items" id="inputText">{{ litem.value }}</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>



