ion-card-title {
    font-size: 15px;
    text-align: center;
}

.title {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

ul {
    padding: .5rem;
}