<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon slot="start" name="newspaper"></ion-icon>
    </ion-buttons>
    <ion-title>Creditos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1 class="title">
      Durante el desarrollo de la
      <i>"GUÍA PARA LA ATENCIÓN DE CASOS DE VIOLENCIAS BASADAS EN GÉNERO"</i>
      se hizo uso de los siguientes componentes.
    </h1>
  </div>
  <ion-card>
    <ion-card-content>
      <div>
        <p>
          <b>Visual Studio Code (Version1.42)</b><br />Descargado del sitio
          oficial<br /><a href=" https://code.visualstudio.com/">
            https://code.visualstudio.com
          </a>
        </p>
      </div>
      <br />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div>
        <p>
          <b>Ionic Framework)</b><br />Descargado del sitio oficial<br /><a
            href=" https://ionicframework.com/docs"
          >
            https://ionicframework.com/docs</a
          >
        </p>
      </div>
      <br />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div>
        <p>
          <b>Apache Cordova CLI</b><br />Descargado del sitio oficial<br /><a
            href="https://cordova.apache.org/"
            >https://cordova.apache.org/</a
          >
        </p>
      </div>
      <br />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div>
        <p>
          <b>NODE JS 12.13.1 LTS</b><br />Descargado del sitio oficial<br /><a
            href="https://nodejs.org/es/download/releases/"
            >https://nodejs.org/es/download/releases/</a
          >
        </p>
      </div>
      <br />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div>
        <p>
          <b>jQuery Mobile versión 1.4.5</b><br />Descargado del sitio
          oficial<br /><a href="https://jquerymobile.com/download/"
            >https://jquerymobile.com/download/</a
          >
        </p>
      </div>
      <br />
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div>
        <p>
          <b>Google Chrome Versión 79.0.3945.117 (Build oficial) (64 bits)</b
          ><br />Copyright 2020 creado por Google LLC
        </p>
      </div>
      <br />
    </ion-card-content>
  </ion-card>
  <div>
    <h1 class="title">
      Las imágenes utilizadas fueron tomadas de los siguientes sitios de
      internet:
    </h1>
  </div>
  <ion-card>
    <ion-card-content>
      <div>
        <ul>
          <li>
            <a href="https://i.ytimg.com/vi/YiqsZVkTeZw/maxresdefault.jpg"
              >https://i.ytimg.com/vi/YiqsZVkTeZw/maxresdefault.jpg</a
            >
          </li>
          <br>
          <li>
            <a
              href="https://www.elpais.com.co/files/article_main_small/uploads/2017/08/31/59a8b99ce9b00.jpeg"
              >https://www.elpais.com.co/files/article_main_small/uploads/2017/08/31/59a8b99ce9b00.jpeg</a
            >
          </li>
          <br>
          <li>
            <a
              href="https://static.iris.net.co/semana/upload/images/2017/11/8/546410_1.jpg"
              >https://static.iris.net.co/semana/upload/images/2017/11/8/546410_1.jpg</a
            >
          </li>
          <br>
          <li>
            <a href="https://pbs.twimg.com/media/B-DbxmrIQAArt37.jpg"
              >https://pbs.twimg.com/media/B-DbxmrIQAArt37.jpg</a
            >
          </li>
          <br>
          <li>
            <a
              href="https://www.vanguardia.com/binrepository/716x477/0c0/0d0/none/12204/LDFR/policia_realizo_campana_contra__violencia_a_mujeres_en_canaveral_VL395164_MG18244988.jpg"
              >https://www.vanguardia.com/binrepository/716x477/0c0/0d0/none/12204/LDFR/policia_realizo_campana_contra__violencia_a_mujeres_en_canaveral_VL395164_MG18244988.jpg</a
            >
          </li>
          <br>
          <li>
            <a
              href="https://www.cesigdl.com/2017/06/01/qu%C3%A9-es-sexo-qu%C3%A9-es-el-g%C3%A9nero-qu%C3%A9-es-la-sexualidad-para-comprender-la-sexualidad-es-necesario-conocer-la-definici%C3%B3n-de-las-siguientes-palabras/"
              >https://www.cesigdl.com/2017/06/01/qu%C3%A9-es-sexo-qu%C3%A9-es-el-g%C3%A9nero-qu%C3%A9-es-la-sexualidad-para-comprender-la-sexualidad-es-necesario-conocer-la-definici%C3%B3n-de-las-siguientes-palabras/</a
            >
          </li>
          <br>
          <li>
            <a
              href="https://www.google.com/url?sa=i&url=http%3A%2F%2Fdocemx.com%2F300-mujeres-asesinadas-una-sentencia-feminicidio%2F&psig=AOvVaw3QHTOlcR4eKEZb_GOlmVz6&ust=1581778256395000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCJjygrKl0ecCFQAAAAAdAAAAABAK"
              >https://www.google.com/url?sa=i&url=http%3A%2F%2Fdocemx.com%2F300-mujeres-asesinadas-una-sentencia-feminicidio%2F&psig=AOvVaw3QHTOlcR4eKEZb_GOlmVz6&ust=1581778256395000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCJjygrKl0ecCFQAAAAAdAAAAABAK</a
            >
          </li>
          <br>
          <li>
            <a
              href="https://www.google.com/search?q=definici%C3%B3n+delitos+sexuales&tbm=isch&ved=2ahUKEwirx5i5p9HnAhUTAlMKHSgMDqYQ2-cCegQIABAA&oq=definici%C3%B3n+delitos+sexuales&gs_l=img.3...155265.158839..159471...0.0..0.1564.8210.2-1j0j1j4j1j2j1......0....1..gws-wiz-img.......0.lTnLZ96eJN4&ei=CbZGXuueDZOEzAKomLiwCg&bih=632&biw=1349&client=firefox-b-d&hl=es-419"
              >https://www.google.com/search?q=definici%C3%B3n+delitos+sexuales&tbm=isch&ved=2ahUKEwirx5i5p9HnAhUTAlMKHSgMDqYQ2-cCegQIABAA&oq=definici%C3%B3n+delitos+sexuales&gs_l=img.3...155265.158839..159471...0.0..0.1564.8210.2-1j0j1j4j1j2j1......0....1..gws-wiz-img.......0.lTnLZ96eJN4&ei=CbZGXuueDZOEzAKomLiwCg&bih=632&biw=1349&client=firefox-b-d&hl=es-419</a
            >
          </li>
        </ul>
      </div>
      <br />
    </ion-card-content>
  </ion-card>
</ion-content>
