<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon slot="start" name="nuclear"></ion-icon>
    </ion-buttons>
    <ion-title>Ataques con agentes quimicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <!-- <h1 class="principal-title">
      Ataques con agentes quimicos
    </h1> -->
    <ion-card>
      <ion-card-content>
        <p>
          Tras un ataque con cualquier agente químico, los primeros minutos son
          cruciales. El contacto de estas sustancias con el cuerpo produce una
          quemadura de todo el espesor de la piel en los primeros 5 minutos y
          esta lesión puede continuar propagándose, aumentando su extensión y
          causando una grave intoxicación en la víctima.
        </p>
        <br />
        <p>
          Por tal razón, la atención debe brindarse en los primeros minutos con
          el fin de diluir y neutralizar la acción del químico y contribuir de
          manera efectiva a mitigar los impactos de las agresiones sobre el
          cuerpo de las víctimas, hasta que éstas puedan recibir atención médica
          especializada.
        </p>
        <br />
        <p>
          En este orden se establecen algunas actuaciones iniciales en calidad
          de primera autoridad responsable, en un ataque con agentes químicos,
          considerando medidas de manejo inicial básico que permiten disminuir
          los efectos negativos en las víctimas de ataques con estas sustancias.
        </p>
        <br />
        <img src="assets/img/9.1.png" />
        <br />

        <p>
          Es importante recalcar que dentro del procedimiento 1CS-PR-0007
          <i>"Atender requerimientos de convivencia y seguridad ciudadana"</i>,
          el cual se puede ubicar en la Suite Visión Empresarial, se encuentran
          identificadas las tareas que debe desarrollar la patrulla del
          cuadrante o el funcionario que atienda en primera instancia el caso.
          En las tareas 3 y 4, se debe verificar el estado de salud de las
          personas objeto de la atención, así como solicitar la asistencia
          médica en caso de ser requerido.
        </p>
        <br />

        <p>
          No obstante, el personal que conozca en primera instancia el caso
          deberá prestar los primeros auxilios en salud para disminuir los
          efectos negativos de las sustancias en la salud de las víctimas,
          teniendo en cuenta los siguientes aspectos:
        </p>
        <br />

        <ul>
          <li>
            No entrar en contacto con la sustancia química y utilizar los
            elementos de protección básica o bioseguridad antes de iniciar
            asistencia de primera autoridad responsable.
          </li>

          <li>
            Identificar los accesos a fuentes de agua potable para lavar la zona
            afectada, bien sea en un establecimiento o una residencia cercana al
            lugar de los hechos o donde se estén brindando los primeros
            auxilios.
          </li>

          <li>
            Si no cuenta con un lugar adecuado y requiere iniciar los primeros
            auxilios en la calle, pídale a las personas residentes o transeúntes
            que le suministren agua potable, retire a las personas del lugar y
            ubique un lugar limpio para iniciar el lavado abundante.
          </li>
        </ul>

        <br />

        <ion-label
          ><b>Pasos por seguir en un ataque con agentes químicos:</b></ion-label
        >
        <br />

        <ul>
          <li>
            Activar el sistema de emergencias llamando al 123 o comunicándose
            por el medio oportuno e idóneo a la Red de Salud Municipal. Teniendo
            en cuenta esto, el operador del Centro Automático de Despacho (CAD),
            debe activar el sistema de emergencias con código rojo y se darán
            las indicaciones iniciales a la primera autoridad, respondiente de
            acuerdo con lo establecido en la Resolución 4568 de 2014 emanado por
            el Ministerio de Salud.
          </li>
          <li>
            Hacer uso de los elementos de bioseguridad. Las sustancias empleadas
            en este tipo de ataques representan peligro no solamente para la
            víctima, sino para todas las personas que entren en contacto con
            ellas, motivo por el cual deben utilizarse guantes, gafas y de ser
            posible una bata.
          </li>
          <li>
            Evalúe y asegure la escena del evento. Antes de acercarse al lugar,
            se deben valorar los potenciales peligros, a pesar de la importancia
            de acercarse rápidamente a la víctima: Determine quién o quiénes son
            las víctimas de la agresión.
          </li>

          <li>
            Si son varias personas, evalúe rápidamente el área comprometida en
            cada una de ellas, quien presenta las lesiones más graves y quien
            requiere con mayor urgencia los primeros auxilios.
          </li>

          <li>
            Las lesiones más graves son aquellas que son extensas y que se
            presentan en áreas especiales como los ojos, cara, cuello, manos.
            axilas, codos, muñecas y genitales, siendo las de los ojos las más
            urgentes.
          </li>
          <li>
            Las lesiones menos graves son las que se presentan en forma de gotas
            o salpicaduras y no comprometen las áreas especiales antes
            mencionadas, es decir, las que están en espalda, tórax, abdomen y
            muslos.
          </li>

          <li>
            Observar si la víctima se encuentra sola o con un acompañante o
            familiar, dado que esta persona también le puede ayudar, pero hay
            que tener cuidado porque se puede convertir en otra víctima, en
            atención a lo que se mencionó de la peligrosidad del contacto con
            estos agentes químicos.
          </li>

          <li>
            Analice si hay facilidades para el lavado, es decir, en donde se
            hará el lavado con agua y las fuentes más cercanas.
          </li>

          <li>
            Preséntese ante la víctima, diga su nombre y seguidamente que
            pertenece a la Policía Nacional. Siempre hay que evitar el pánico y
            la precipitación. Prepárese para la posibilidad de que la víctima
            tenga un intenso deseo de escapar.
          </li>
          <li>
            Lave las lesiones con abundante agua potable, teniendo el cuidado de
            no esparcir la sustancia hacia el resto del cuerpo y generar nuevas
            lesiones.
          </li>

          <li>
            En caso de captura en flagrancia del agresor remitirse al
            procedimiento 1CS-PR-0007
            <i>“Atender requerimientos de convivencia y seguridad ciudadana"</i
            >. En caso de no identificar al agresor, pregúntele a la víctima si
            el agresor se encuentra cerca o si sabe dónde está y quién es.
          </li>

          <li>
            Entregue la escena del hecho punible a los funcionarios de Policía
            Judicial teniendo en cuenta el procedimiento 1CS-PR-0007.
          </li>
          <li>
            De conformidad con lo establecido en la Ley 1257 de 2008, artículo 8
            las mujeres víctimas de violencia:
          </li>
          <li>
            Serán tratadas con reserva de identidad al recibir la asistencia
            médica, legal, o asistencia social respecto de sus datos personales,
            los de sus descendientes o los de cualquiera otra persona que esté
            bajo su guarda o custodia.
          </li>

          <li>
            Accederán a los mecanismos de protección y atención para ellas, sus
            hijos e hijas.
          </li>
          <li>
            Decidirán voluntariamente si puede ser confrontada con el agresor en
            cualquiera de los espacios de atención y en los procedimientos
            administrativos, judiciales o de otro tipo; y<br />
          </li>
          <li>Tienen el derecho a vivir una vida libre de violencias.</li>
        </ul>

        <p>
          Mantener y transmitir la calma es muy importante. Esto le permitirá
          actuar correctamente y servirá de apoyo para la víctima.
        </p>
        <br />
        <ion-label>
          <b>Captar la atención de la víctima siendo prudente en el ofrecimiento
            de ayuda.</b>
        </ion-label>
        <br />
        <p>Hacerle saber a la víctima que está ahí para ayudarla, utilizando un lenguaje claro y sencillo, como, por ejemplo: <i>"vamos a ayudarle", "estamos capacitados para atender este tipo de ataques", "ya solicitamos ayuda y la ambulancia viene en camino", "por favor siga nuestras instrucciones"</i>.</p>
        <br>
        <p>Ganar la confianza de la víctima mediante una comunicación adecuada, ser amable, escucharla si desea hablar, ser honesto y confiable.</p>
        <br>
        <p>Respetar sus derechos corno persona y cómo víctima</p>
        <br>
        <p>Anular juicios de valor, por ejemplo:<i> "grave la quemadura"," va a quedar desfigurada, que horror".</i> o cualquier otra frase que pueda atemorizar o incrementar el pánico o desespero.</p>
        <br>
        <ion-label><b> Si la víctima no desea hablar, respetar su decisión</b></ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
