<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon slot="start" name="nuclear"></ion-icon>
    </ion-buttons>
    <ion-title>Ataques con agentes quimicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <!-- <h1 class="principal-title">
      Ataques con agentes quimicos
    </h1> -->
    <ion-card>
      <ion-card-content>
        <p>
          Tras un ataque con cualquier agente químico, los primeros minutos son
          cruciales. El contacto de estas sustancias con el cuerpo produce una
          quemadura de todo el espesor de la piel en los primeros 5 minutos y
          esta lesión puede continuar propagándose, aumentando su extensión y
          causando una grave intoxicación en la víctima.
        </p>
        <br />
        <p>
          Por tal razón, la atención debe brindarse en los primeros minutos con
          el fin de diluir y neutralizar la acción del químico y contribuir de
          manera efectiva a mitigar los impactos de las agresiones sobre el
          cuerpo de las víctimas, hasta que éstas puedan recibir atención médica
          especializada.
        </p>
        <br />
        <p>
          En este orden se establecen algunas actuaciones iniciales en calidad
          de primera autoridad responsable, en un ataque con agentes químicos,
          considerando medidas de manejo inicial básico que permiten disminuir
          los efectos negativos en las víctimas de ataques con estas sustancias.
        </p>
        <br />
        <img src="assets/img/9.1.png" />
        <br />

        <p>
          Es importante recalcar que dentro del procedimiento 1CS-PR-0007
          <i>"Atender requerimientos de convivencia y seguridad ciudadana"</i>,
          el cual se puede ubicar en la Suite Visión Empresarial, se encuentran
          identificadas las tareas que debe desarrollar la patrulla del
          cuadrante o el funcionario que atienda en primera instancia el caso.
          En las tareas 3 y 4, se debe verificar el estado de salud de las
          personas objeto de la atención, así como solicitar la asistencia
          médica en caso de ser requerido.
        </p>
        <br />

        <p>
          No obstante, el personal que conozca en primera instancia el caso
          deberá prestar los primeros auxilios en salud para disminuir los
          efectos negativos de las sustancias en la salud de las víctimas,
          teniendo en cuenta los siguientes aspectos:
        </p>
        <br />

        <ul>
          <li>
            No entrar en contacto con la sustancia química y utilizar los
            elementos de protección básica o bioseguridad antes de iniciar
            asistencia de primera autoridad responsable.
          </li>

          <li>
            Identificar los accesos a fuentes de agua potable para lavar la zona
            afectada, bien sea en un establecimiento o una residencia cercana al
            lugar de los hechos o donde se estén brindando los primeros
            auxilios.
          </li>

          <li>
            Si no cuenta con un lugar adecuado y requiere iniciar los primeros
            auxilios en la calle, pídale a las personas residentes o transeúntes
            que le suministren agua potable, retire a las personas del lugar y
            ubique un lugar limpio para iniciar el lavado abundante.
          </li>
        </ul>

        <br />

        <ion-button color="success" class="link" expand="full" (click)="presentModal()">Pasos a seguir en un ataque con agentes químicos</ion-button>
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
