.link {
    padding: 1rem;
    text-align: center;
}

ion-slides {    
    --bullet-background-active: var(--ion-color-success);
}

.escudos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    justify-items: center;    
    margin-bottom: 2rem;
}

.final {
    & p {
        font-style: italic;
        text-align: center;
        padding: 0 1rem;
        color: #82828c;
        margin-bottom: 2rem;
    }
}

p {
    padding: 0 1rem;
    text-align: center;
}

.hide {
    display: none;
}
