<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="end">      
      <ion-icon slot="end" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Inicio</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="background" onload="consultar()">
  <div>
    <h1 class="principal-title">
      Guía para la Atención de Casos de Violencia Basada en Género
    </h1>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let slide of slides">
        <img [src]="slide.src" [alt]="slide.alt" />
      </ion-slide>
    </ion-slides>
    <p>
      Rutas institucionales como mecanismo de prevención, atención, protección y
      acceso a la justicia.
    </p>
    <div class="link">
      <ion-button
        routerLink="/rutas-institucionales"
        expand="block"
        color="success"
        >Rutas institucionales
        <ion-icon slot="end" name="walk"></ion-icon>
      </ion-button>
      <!-- <a routerLink="/rutas-institucionales">Rutas institucionales</a> -->
    </div>
    <div class="escudos">
      <img src="../../assets/img/ponal.png" alt="" />
      <img src="../../assets/img/estel.png" alt="" />
    </div>
    <div class="final">
      <p>
        “la no naturalización de comportamientos violentos, es un compromiso de
        la policía nacional de Colombia”
      </p>
    </div>
  </div>
</ion-content>

<script>
  function consultar() {
    window.find("la no naturalización de comportamientos violentos, es un compromiso dela policía nacional de Colombia");
  }
</script>
