<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon slot="start" name="walk"></ion-icon>
    </ion-buttons>
    <!-- <ion-title>Rutas institucionales</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <h1 class="principal-title">
      Rutas institucionales
    </h1>
    <ion-card>
      <img src="assets/img/1.png" />
      <ion-subtitle
        >Mecanismos de prevención, atención, protección y acceso a la justicia
        respecto a las violencias basadas en género.</ion-subtitle
      >
      <ion-card-content>
        <p>
          La Institución interviene en varios momentos dentro de las Rutas de
          Prevención, Protección, Atención y Acceso a la Justicia frente a las
          Violencias Basadas en Género (VBG). Esto depende de la fuente o vía a
          través de la cual la Policía Nacional tiene conocimiento del hecho de
          violencia, así:
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
