ion-card-title {
    font-size: 15px;
    text-align: center;
}

.link {
    font-size: 10px;
}

.one {
    --background: #04B431;
    --color: #333333;
}

.two {
    --background: #8EB133;
    --color: #333333;
}

.three {
    --background: #C4E0A3;
    --color: #333333;
}
