ion-card-title {
    font-size: 15px;
    text-align: center;
}

.link {
    font-size: 13px;
    padding: 0;
    min-height: 45px !important;
}

.one {
    --background: #04B431;
    --color: #333333;
}

.two {
    --background: #8EB133;
    --color: #333333;
}

.three {
    --background: #C4E0A3;
    --color: #333333;
}

ion-button {
    margin: 2rem 0;
}
